---
import { getEntry, getCollection } from 'astro:content'
import BaseLayout  from '@/layouts/BaseLayout.astro';
import Post from '@/components/Post.astro';
import Project from '@/components/Project.astro';
import { Separator } from '@/components/ui/separator';
import { Button } from '@/components/ui/button'
import { Icon } from 'astro-icon/components'
import { GET } from './api/spotify/now-playing.ts'

const pageTitle = 'Saketh Thota';
const latestPosts = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const currentProject = await getEntry('projects', 'ucc');

const res = await GET(Astro)
const nowPlaying = await res.json()
console.log(nowPlaying)
---

<BaseLayout {pageTitle}>
  <h1 class="pb-8 scroll-m-20 text-3xl lg:text-4xl font-semibold tracking-tight">Hey, I'm Saketh</h1>
  <p class="text-xl lg:text-2xl leading-8 lg:leading-10">I'm a software engineer with a passion for building things, teaching, and bringing people together. I currently work as a developer at Caterpillar where I admin a self-service marketing service for our dealerships.</p>
  <p class="text-xl lg:text-2xl leading-8 lg:leading-10 mt-8 mb-8">When I'm not working, I enjoy traveling, curating playlists, and remaining involved with my fraternity's local and national service initiatives.</p>
  <div class="flex flex-col md:flex-row md:justify-between md:items-center items-start gap-8">
    <div class="flex justify-start items-center gap-4 ">
      <a href="https://github.com/sakeththota">
        <Button className="border-0" variant="outline" size="icon">
          <Icon name="mdi:github"/>
        </Button>
      </a>
      <a href="https://instagram.com/ssakethh">
        <Button className="border-0" variant="outline" size="icon">
          <Icon name="mdi:instagram"/>
        </Button>
      </a>
      <a href="https://linkedin.com/in/saketh-thota">
        <Button className="border-0" variant="outline" size="icon">
          <Icon name="mdi:linkedin"/>
        </Button>
      </a>
      <a href="https://open.spotify.com/user/ewh7myvj13dio09ye08z9ufqn?si=125da40256594770">
        <Button className="border-0" variant="outline" size="icon">
          <Icon name="mdi:spotify"/>
        </Button>
      </a>
    </div>
    { nowPlaying.isPlaying &&
      <div class="flex h-20 gap-4 rounded-md p-2 w-80">
        <img class="rounded-md aspect-square" src={nowPlaying.albumImageUrl} />
        <div class="flex flex-col justify-center overflow-hidden whitespace-nowrap">
          <p class="text-xs text-muted-foreground">Now Playing</p>
          <h2 class="text-lg font-bold">{nowPlaying.title}</h2>
          <p class="text-semibold -mt-1">{nowPlaying.artist}</p>
        </div>
      </div>
    }
  </div>
  <Separator className="my-10"/>
  <div class="grid md:grid-cols-2 gap-8">
    <div class="flex flex-col gap-8">
      <h1 class="scroll-m-20 text-2xl lg:text-3xl font-semibold tracking-tight">Recent Posts</h1>
      <div class="flex flex-col gap-4 justify-center">
        { latestPosts.reverse().map((post) => <Post url=`/blog/${post.slug}/` {...post.data} />)}
      </div>
    </div>
    <div class="flex flex-col gap-8">
      <h1 class="scroll-m-20 text-2xl lg:text-3xl font-semibold tracking-tight">Working On</h1>
      <Project {...currentProject.data} />
    </div>
  </div>
  <h1 class="scroll-m-20 text-2xl lg:text-3xl font-semibold tracking-tight"></h1>
</BaseLayout>
