---
import { Badge } from '@/components/ui/badge';
import { GitHubLogoIcon, OpenInNewWindowIcon } from '@radix-ui/react-icons';
const { url, src, title, description, source, live, tags} = Astro.props
---
<div class="flex flex-col justify-start p-2 border-[1px] rounded-md w-full ">
  <a href={url} class="cursor-pointer mb-2">
      <img {src} class="rounded-md">
  </a>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight">{title}</h4>
  <p class="text-lg font-medium">{description}</p>
  <div class="flex items-center pt-2 gap-2">
    <a href={source}><GitHubLogoIcon className="h-6 w-6 opacity-70 z-10" /></a>
    <a href={live}><OpenInNewWindowIcon className="h-6 w-6 opacity-70 z-11" /></a
    <div class="flex gap-2">
      {tags.map((tag: string) => <Badge className="text-md" variant="outline">{tag}</Badge>)}
    </div>
  </div>
</div>
